@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animation';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/header';

@import 'components/button';
@import 'components/image-composition';
@import 'components/feature-box';

@import 'pages/home';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* about */

/* media queries */
@media only screen and (max-width: 439px) {
  .header__text-box {
    width: 100vw;
  }
  .heading {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .sub-heading {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .btn {
    width: 15rem;
    height: 4rem;
    padding: 0.5rem;
  }
  .heading-about {
    font-size: 2.8rem;
  }
  .about {
    clip-path: none;
  }
  .about__content {
    flex-direction: column;
  }
  .image__composition {
    width: 10rem;
    height: 10rem;
  }
  .about__content__text {
    width: 100vw;
    height: auto;
  }
  .images {
    margin: 0 auto;
    width: 70vw;
  }
  .describe {
    width: 90vw;
    text-align: center;
  }
  .features {
    justify-content: space-around;
    padding: 10rem 2rem;
  }
  .features__box {
    flex: 1 1 28rem;
  }
}

@media only screen and (min-width: 440px) and (max-width: 786px) {
  .header__text-box {
    width: 100vw;
  }
  .heading {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
  .about {
    clip-path: none;
  }
  .sub-heading {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .heading-about {
    font-size: 3.5rem;
  }
  .about__content {
    flex-direction: column;
  }
  .about__content__text {
    width: 100vw;
  }
  .images {
    width: 100vw;
    margin-top: 2rem;
  }
  .image__composition {
    width: 11rem;
    height: 11rem;
  }
  .describe {
    text-align: center;
  }
  .features {
    justify-content: space-around;
    padding: 10rem 5rem;
  }

  .features__box {
    flex: 0 1 50rem;
  }
}

@media only screen and (min-width: 787px) and (max-width: 989px) {
  .header__text-box {
    width: 60vw;
  }
  .heading {
    font-size: 5rem;
    letter-spacing: 1.2rem;
  }
  .sub-heading {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .features {
    padding: 15rem 3rem;
  }
}

@media only screen and (min-width: 990px) and (max-width: 144rem) {
  .header__text-box {
    width: 60vw;
  }
  .features {
    padding: 20rem 5rem;
  }
}
