.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  color: white;
  font-size: 1.4rem;
  & .footer__nav {
    padding-top: 1rem;
    margin-right: 5rem;
    border-top: 2px white solid;
    flex: 0 1 40rem;
    & .footer__nav__list {
      padding-top: 1rem;
      & .item {
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2rem;
        & img {
          margin: 0.5rem;
          transition: all 0.4s;
        }
        & img:hover {
          transform: scale(1.1) translateY(-1rem);
        }
      }
    }
  }
  & .copyright {
    padding-top: 1rem;
    flex: 0 1 40rem;
    border-top: 2px white solid;
    & a {
      text-decoration: none;
      font-weight: 700;
      color: white;
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  background: linear-gradient(to right, $primary-light, $primary);
  & #logo {
    transition: all 0.4s;
  }
  & #logo:hover {
    transform: scale(1.05) translateX(1.8rem) translateY(-1.8rem);
  }
  & .credits {
    padding: 1rem;
    color: white;
    border-top: 2px white solid;
    & a {
      text-decoration: none;
      font-weight: 700;
      color: white;
    }
  }
}
